<div class="calendar">
  
        <header>				
  
          <h2>Septiembre</h2>
  
          <a class="btn-prev fontawesome-angle-left" href="#"></a>
          <a class="btn-next fontawesome-angle-right" href="#"></a>
  
        </header>
        
        <table>
        
          <thead>
            
            <tr>
              <td>Dom</td>              
              <td>Lun</td>
              <td>Mar</td>
              <td>Mie</td>
              <td>Jue</td>
              <td>Vie</td>
              <td>Sab</td>
  
            </tr>
  
          </thead>
  
          <tbody>
            
            <tr *ngFor="let semana of calendar">
              <td *ngFor="let dia of semana" class="{{getCalClass(dia)}}">{{dia}}</td>
            </tr>
          </tbody>
  
        </table>
  
      </div> <!-- end calendar -->

<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of monthlyUsers | async">
      <td>
        <div *ngFor="let day of user.days">
          {{day}}
        </div>
        </td>
    </tr>
  </tbody>
</table>
