<h1>Usuarios asignados</h1>

<h2>Usuarios del mes</h2>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Vehículo</th>
      <th>Placa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Adrian Moya</td>
      <td>Chevrolet Tracker</td>
      <td>JBQ-454</td>
    </tr>
  </tbody>
</table>

<h2>Usuarios adicionales</h2>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Vehículo</th>
      <th>Placa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Adrian Moya</td>
      <td>Chevrolet Tracker</td>
      <td>JBQ-454</td>
    </tr>
  </tbody>
</table>